*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  /* width: 100%; */
}

body {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  /* padding: 2rem; */
  width: 100%;
  height: 100%;
  background: white;
  display:flex;
  flex-direction: column;
  min-height: 200px ;
}
.app{
  height:100vh;
}

.header{
  background: #16a085;
  min-height:10vh;
}

.main{
  background: white;
  min-height:85vh;
  div{
    height:100%;
  }
}

.footer{
  background:#16a085;
  min-height:5vh;
}
img{
  height:150;
  width:150;
}
